.site-footer {
  background: #c9e4e0;
  width:100%;
  box-shadow: $subtle-inner-shadow;

  &__wrapper {
    @include grid-row();
  }

  &__social-links {
    @include grid-column($columns: 6);
    padding: rem-calc(48 0 12);
    padding-top: 5%;

    ul {
      list-type: none;
      margin: 0;
    }

    li {
      display: inline-block;
      margin-right: rem-calc(12);
    }

    a {
      font-size: rem-calc(15);
      line-height: rem-calc(14);
      font-weight: $font-weight-light;
    }

    @media #{$medium-only} {
      @include grid-column($columns:5, $offset: .5);
      padding-left: rem-calc(12);
    }

    @media #{$small-only} {
      @include grid-column($columns:5);
      padding-left: rem-calc(12);
    }
  }

  &__copyright {
    @include grid-column($columns: 6);
    padding: rem-calc(48 0 12);
    float: right;
    span {
      float: right;
      font-size: rem-calc(15);
      line-height: rem-calc(25);
      font-weight: $font-weight-light;
      font-family: $body-font-family;
    }
    @media #{$small-only} {
      @include grid-column($columns:7);
      padding-left: rem-calc(28);
    }
  }

  .contactheader {
    @include grid-column($columns: 6);
    padding: rem-calc(48 0 12);
    width: 30%;
    padding-top: 6%;

    h3 {
      display: inline-flex;
      float: left;
    }
  }

  .fa {
    padding: 18px 6px 18px 6px;
    font-size: 30px;
    //width: 55px;
    // font-size: 50%;
    width: 12%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 9px 15px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
    //padding-right: 35px;
    //padding-left: 10px;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
}
