.connect {

	.sidebar-box {
		@include sidebar-box($columns: 2.5, $side: left);

		@media screen and (max-width: $medium-breakpoint){
      		background: none;
    	}
	}

	.sidebar-label {
		@include grid-column($columns: 2);
		padding-top: rem-calc(72-17);

		@media screen and (max-width: $medium-breakpoint){
      		width: 0%;
      		display: none;
    	}
	}

	.contacts {
		@include grid-column($columns: 9, $offset: 1);
		margin: rem-calc(24 0 72);
		display: flex;
		flex-wrap: wrap;
		//align-items: flex-start;

		@media screen and (max-width: $medium-breakpoint){
      		width: 100%;
      		padding: rem-calc(20 20);
      		margin: 0 !important;
    	}
	}

	.contact {
		margin-top: rem-calc(48px);
		width: 50%;

		&__photo {
			width: 25%;
			float: left;

			@media screen and (max-width: $small-breakpoint){
      			margin-bottom: rem-calc(10);
      			margin-left: rem-calc(14);
      			width: 60%;
    		}
		}

		&__info {
			float: left;
			margin-left: rem-calc(12px);
			
			&__name {
				margin: rem-calc(-5 0 0);
			}

			&__major, &__position, &__team, &__email, &__linkedin {
				display: block;
				font-size: rem-calc(18);
				line-height: rem-calc(25);
				font-weight: $font-weight-light;
			}

			&__links a {
				display: inline-block;
				position: relative;
				font-size: rem-calc(14);
				//text-decoration: underline;

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					height: rem-calc(21);
				}

				&.email {
					margin: rem-calc(0 10 0 2+21+6);

					&:before {
						left: rem-calc(-21-6);
						width: rem-calc(21);
						background: image-url("icons/email.png") center center / rem-calc(21) rem-calc(14) no-repeat;
					}
				}

				&.linkedin {
					margin: rem-calc(0 10 0 2+17+4);

					&:before {
						left: rem-calc(-17-4);
						width: rem-calc(17);
						background: image-url("icons/linkedin.png") center center / rem-calc(17) rem-calc(17) no-repeat;
					}
				}
			}
		}
	}
}
