.donate {
	.sidebar-box {
    @include sidebar-box($columns: 3.5, $side: left);
  }
	.kind {
    @include grid-column($columns: 6, $offset: 0);
    padding: rem-calc(72 0);

    h2 {
      margin-bottom: rem-calc(16);
      color: $seg-blue-color;
    }

    p:not(:last-child) {
      margin-bottom: rem-calc(48);
    }
  }
  .donation {
    @include grid-column($columns: 5, $offset: 1);
    padding: rem-calc(72 0);

    h2 {
      margin-bottom: rem-calc(16);
      color: $seg-blue-color;
    }

    p:not(:last-child) {
      margin-bottom:1rem rem-calc(48);
    }
  }

  	.mini {
      @include grid-column($columns: 4, $offset: 3);
      margin-top: rem-calc(14);
      background-color: $seg-blue-color;
    }

  .photo-strip__text h1, .photo-strip__text h2 {
    margin: 0;
    color: $dark-grey;
    text-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
}
}