.projects {

  .sidebar-box {
    @include sidebar-box($columns: 4, $side: right);

    @media screen and (max-width: $medium-breakpoint){
      background: none;
    }
  }

  .description {
    @include grid-column($columns: 7);
    padding: rem-calc(72 0);

    @media screen and (max-width: $medium-breakpoint){
      width: 100%;
      padding: rem-calc(20 20);
    }
  }

  .gallery {
    display: flex;
    justify-content: space-between;
    margin-top: rem-calc(48);

    figure {
      width: percentage(2/7);
      box-shadow: $subtle-shadow;
    }
  }

  .impact {
    @include grid-column($columns: 3, $offset: 2);
    padding: rem-calc(72 0);
    font-weight: $font-weight-normal;

    @media screen and (max-width: $medium-breakpoint){
      width: 0%;
      display: none;
    }

    &__video {

      &__title {
        font-size: rem-calc(24);
        display: block;
      }

      &__container {
        @include flex-video-container();
      }
    }

    &__stat {

      &:not(:first-of-type) {
        margin-top: rem-calc(48);
      }

      &__title {
        font-size: rem-calc(24);
        display: block;
      }

      &__number {
        font-size: rem-calc(42);
      }
    }
  }
}