.projects-page {

  .sidebar-box {
    // @include sidebar-box($columns: 5, $side: right);

    @media screen and (max-width: $medium-breakpoint){
      padding: rem-calc(0 20);
    }

    @media screen and (max-width: $small-breakpoint){
      background: none;
    }
  }

  .choose-project {
    background-color: green;
    display: inline-block;
    width: 100%;
    height: 60%;

    .accordion__content{  //should be .accordion . accordion content
      background-color: pink;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 25%;
      width: 40%;
      opacity: 0;
      overflow: auto;
      transition: .5s ease;
      z-index: 100;
    }

    .accordion{
      background-color: grey;
      width: 25%;
      display: inline-flex;
      padding-top: 2%;
      padding-bottom: 2%;
      text-align: center;
      justify-content: center;
      height: 100%;
      align-items: center;
      &:hover .accordion__content{
        opacity: 1;
        background-color: pink;
        display: visible;
      }
    }

    .accordion1{
      background-color: purple;
      width: 25%;
      display: inline-flex;
      padding-top: 2%;
      padding-bottom: 2%;
      text-align: center;
      justify-content: center;
      height: 100%;
      align-items: center;
      &:hover .accordion__content{
        opacity: 1;
        background-color: pink;
        display: visible;
      }
    }

    // .accordion1:hover .accordion__content{
    //   opacity: 1;
    // }


    .accordion__header{
      width: 100%;
    }

    .flex-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 2%;
      height: 300px;
    }
  }


  .choose-project h2{
    text-align: center;
    padding-top: 2%;
  }

  .projects-secondary {
    @include grid-row();

    @media screen and (max-width: $medium-breakpoint){
      padding: rem-calc(0 20);
    }
  }


  .projects-list {
    @include grid-column($columns: 12);
    padding: rem-calc(72-9 0);
    // display: flex;
    display: inline-block;
    flex-wrap: wrap;

    &__header {
      width: 100%;
    }

    &__project {
      padding-right: 1rem;
      margin-top: rem-calc(48);
      // width: 50%;
      @media screen and (max-width: $small-breakpoint){
        width: 100%;
        padding: rem-calc(0 0);
      }

      &__logo {
        float: left;
        width: percentage(2/6);
        padding-top: percentage(2/6);
        background-color: $light-gray;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 45% 65%;
        opacity: 1;
        transition: opacity $transition-speed;
        &:hover { opacity: .8 }
      }

      // &__text {
      //   float: left;
      //   width: percentage(4/6);
      //   padding-left: rem-calc(16);
      // }

      &__name {
        margin-top: rem-calc(-5);
        opacity: 1;
        transition: opacity $transition-speed;
        &:hover { opacity: .8 }
      }

      &__tagline {
        font-size: rem-calc(20);
      }
    }

    &--current-projects {
      // @include grid-column($columns: 6);

      @media screen and (max-width: $small-breakpoint){
        width: 100%;
        padding: rem-calc(20 0);
      }

      .projects-list__project {
        width: 100%;
      }
    }
  }

  // .choose-project {
    // @include grid-column($columns: 4, $offset: 2);
    // padding: rem-calc(72-9 0);
    //
    // @media screen and (max-width: $small-breakpoint){
    //   display: none;
    //   width: 0%;
    // }
    //
    // .accordion {
    //   margin-top: rem-calc(48);
    // }
  // }

  .projects-list2{
    width: 50%;
  }

  .work-with-us {

    &__header {
      margin: rem-calc(72 0 32);
    }

    &__text {
      margin-bottom: rem-calc(24);
    }

    &__button {
      width: auto;
    }
  }
}
