.projects {

  .sidebar-box {
    // @include sidebar-box($columns: 4, $side: right);

    @media screen and (max-width: $medium-breakpoint){
      background: none;
    }
  }

  .intro {

    &__mission {
      font-size: 33px;
    }
    background-color: #f2f3f3;
    text-align: center;
    padding: rem-calc(30 50);

    @media screen and (max-width: $medium-breakpoint){
      width: 100%;
    }
  }

  .chart {
    .chart-caption {
      font-size: rem-calc(24);
      text-align: center;
    }
  }

  .description {
    padding: rem-calc(30 100);
    text-align: center;

    @media screen and (max-width: $medium-breakpoint){
      width: 100%;
    }
  }
  .gallery {
    
   // justify-content: space-between;
    margin-top: rem-calc(54);
    margin-left: 0%;

    figure {
      display: inline-block;
      width: percentage(2.3/7);
      padding-right: 1%;
      padding-left: 1%;
      padding-bottom: 1%;
    }
  }

  .impact {
    font-weight: $font-weight-normal;
    padding-bottom: 2%;

    @media screen and (max-width: $medium-breakpoint){
      width: 0%;
      display: none;
    }

    &__video {

      &__title {
        font-size: rem-calc(24);
        display: block;
      }

      &__container {
        @include flex-video-container();
      }
    }

    &__stat {
      display: inline-block;
      width: percentage(2.3/7);
      padding-right: 1%;
      padding-left: 1%;
      text-align: left;

      &:not(:first-of-type) {
        margin-top: rem-calc(12);
      }

      &__title {
        font-size: rem-calc(24);
        display: block;
      }

      &__number {
        font-size: rem-calc(34);
      }
    }
  }
}