.seg {

	.seg_logo {
		@include grid-column($columns: 4, $offset: .7);
		width: rem-calc(340);
	}
	.design_build{
		margin-top: rem-calc(40);
		@include grid-column($columns: 6, $offset: 3);
	}

	.logo_text {
		font-weight: 400;
		font-size: rem-calc(19);
	}

	.cusd_vam{
		.bigX{
			margin-top: rem-calc(50);
			font-weight: 200;
		}
		li{
			margin-top: rem-calc(40);

		}
		// @media screen and (min-width: $large-breakpoint){
			.ul_spacer{
				padding: 0 23%;
			}
	    // }

	    ul{
	    	@include block-grid(3);
	    	@media screen and (max-width: $small-breakpoint){
	    		@include block-grid(1); 
	    	}
	    	$per-row: 3;
			// $spacing: $block-grid-default-spacing; 

			.lighter{
				font-weight: 200;
				font-size: 2em;
			}
			h2{
				font-size: 4em;
				font-weight: 400
			}
		}
	}
	.cusd_vam > li {
		clear: none !important;
	}
	.stat{
		@include grid-column($columns: 10, $offset: 1);
		padding: rem-calc(42 0);
		ul{
			@include block-grid(4);
			$per-row: 4;
			@media screen and (max-width: $small-breakpoint){
				@include block-grid(1); 
			}
			.lighter{
				font-weight: 200;
				font-size: 2em;
			}
			h2{
				font-size: 4em;
				font-weight: 400
			}
		}
	}
	.stat > li {
		clear: none !important;
	}
	.design_process{
		@include grid-column($columns: 12);
		// padding: rem-calc(42 0);
	}
	.directors{
		@include grid-column($columns: 12);

		//.photo-strip__text {
		//@include grid-column($columns: 3, $offset: 1);
	//}

	}
	.year{
		@include grid-column($columns: 6, $offset: 2);
		margin-top: rem-calc(40);
		color: $seg-blue-color;

		h2{
			font-size: rem-calc(50);

		}

	}
	.timeline{
		
		@include grid-column($columns: 8, $offset: 2);
		margin-top: rem-calc(30);

		h3 {
			padding-bottom: rem-calc(12);
		}

		p{
			font-weight: 200;
			padding-bottom: rem-calc(8);
		}
		ul{
			@include block-grid(3);
			$per-row: 3;
			// @media screen and (max-width: $small-breakpoint){
	  //    		@include block-grid(1); 
		 //    }
		}

		.two{
			@include block-grid(2);
			$per-row: 2;
			@media screen and (max-width: $small-breakpoint){
				@include block-grid(1); 
			}

		}
		.three{
			@media screen and (max-width: $small-breakpoint){
				@include block-grid(1); 
			}
		}

	}


	.about {
		@include grid-column($columns: 12);
		// padding: rem-calc(42 0);


		
	}
	.about_spacer{
		@include grid-column($columns: 6, $offset: 2);
		padding: rem-calc(30 0);

		h2 {
			margin-bottom: rem-calc(16);
			color: $seg-blue-color;
		}
	}

	.sidebar-box {
		@include sidebar-box($columns: 4.5, $side: right);
		background: linear-gradient(to right, transparent calc((100% - 64rem)/2 + (0.63 * 64rem)), $seg-blue-color calc((100% - 64rem)/2 + (0.58333 * 64rem)));

		@media screen and (max-width: $medium-breakpoint){
			background: none;
		}
	}

	.sidebar-box__wrapper {
		@include grid-row();
		margin-right: 60px;
	}


	.frame_wrap{
		// iframe{
		
		// }

		
		
		h2{
			margin-top: rem-calc(40);
			@include grid-column($columns:6, $offset:3);
			text-align: center;
			margin-bottom: rem-calc(50);

		}
	}
	.framey{
		@include grid-column($columns:5, $offset:3.5);
		@media screen and (max-width: $small-breakpoint){
			width: rem-calc(400);
			padding: 0 rem-calc(30);
			margin-left: 0 !important;
		}
		
	}
	.iframer {
		// @include grid-column($columns:9, $offset:3);
		// padding: rem-calc(50 0 10 0);
		// margin-left: rem-calc(200);
	}

	.vam_text {
		@include grid-column($columns: 5, $offset: .5);
		float: right;
		padding-left: rem-calc(10);

		h2 {
			padding: rem-calc(30 0 40 0);
			font-size: rem-calc(38);
			color: white;
		}

		p {
			color: white;
		}

		a {
			color: #FFC494;
			font-weight: 300;
			font-size: rem-calc(18);
		}
	}

	.team_leads {
		@include grid-column($columns: 6, $offset: 1);

		h2 {
			padding: rem-calc(30 0 40 0);
			font-size: rem-calc(38);
		}

		&_image {
			@include grid-column($columns: 3.5, $offset: 0);

		}

		&_text {
			@include grid-column($columns: 8, $offset: .5);
			// padding-right: rem-calc(30);
			h3 {
				padding-bottom: rem-calc(5);
			}

			a {
				color: $seg-blue-color;
			}
		}
	}
	.wrappy{
		// background-color: red;
		margin-top: rem-calc(30);
		// margin:rem-calc(20);
		@include grid-column($columns: 6.5, $offset: .5);
		@media screen and (max-width: $small-breakpoint){
			@include grid-column($columns: 12);
		}
		padding: 0 rem-calc(40);
		h2{
			margin-left: rem-calc(15);
			font-size: rem-calc(38);
		}

	}
	.team_vam{
		@include grid-column($columns: 12);
	}
	.vamer{
		color: white;
		background-color: #377898;
		// margin-top: rem-calc(30);
		@include grid-column($columns: 5);
		@media screen and (max-width: $small-breakpoint){
		@include grid-column($columns: 12);
			padding: 0 rem-calc(40);
			margin-top: rem-calc(40);
			padding-bottom: rem-calc(50);
		}
		p{
			margin-top: rem-calc(10);
			padding-top: rem-calc(40);
			padding-left: rem-calc(40);
			padding-right: rem-calc(40);
		}
		h2{
			margin-top: rem-calc(35);
			color: white;
			text-align: center;
			font-size: rem-calc(38);
		}
		a{
			color: #ffc494;
			font-weight: 300;
			font-size: rem-calc(18);
			padding-left: rem-calc(40);
			// margin-bottom: rem-calc(40);
			// padding: rem-calc(30);
		}
		padding: 0 rem-calc(50);
		padding-bottom: rem-calc(150);
	}
	.claudia {
		// margin-top: rem-calc(40);
		margin:rem-calc(20);
		@include grid-column($columns: 12);

		@media screen and (max-width: $small-breakpoint){
				@include grid-column($columns: 12);
				padding: 0 rem-calc(40);
			}
		margin-top: rem-calc(40);

		// padding-bottom: rem-calc(20);
	}
	.arielle{
		@extend .claudia;
		margin-top: rem-calc(20);
	}

	// .vam{
	// 	@include grid-column($columns: 6);
	// }
	.img_aligner_email{
		vertical-align: middle;
		margin-bottom: 0.20em;
		height: 15px;
		width: 25px;
		

	}
	.img_aligner_linkedin{
		margin-left: 2%;
		vertical-align: middle;
		margin-bottom: 0.20em;
		height: 20px;
		width: 20px;
	}

	.team {
		@include grid-column($columns: 10, $offset: 1);
		padding: rem-calc (40 0);
		margin-bottom: rem-calc(20);
		h2{
			margin: rem-calc(50) 0;
		}
		ul {
			@include block-grid(5); 
			@media screen and (max-width: $small-breakpoint){
				@include block-grid(2, rem-calc(10)); 
			}

			list-style-type: none;
		}
	}


	.members {
		height: rem-calc(150);
		width: rem-calc(150);
	}

	.member { 
		padding-top: rem-calc(4);
		font-weight: 400;
		font-size: rem-calc(17);
	}

	.member_info{
		font-size: rem-calc(15);
		font-weight: 300;
		line-height: rem-calc(18);
		margin-top: rem-calc(-2);
	}
	.bck_img{
		@include grid-column($columns: 12);
		background: url(../images/seg/footer.jpg) no-repeat;
		background-size: 100%;
		background-position: 0% 60%;
		margin-top: 3%;
		@media screen and (max-width: $small-breakpoint){
				background-size: 200%;
			}

		.footy{
			@include grid-column($columns: 6, $offset: 3);
			text-align: center;
			// min-height: rem-calc(260);
			// margin-top: rem-calc(100);

			.mini{
				margin-top: rem-calc(10);
				width: 30%;
				background-color: $seg-color;
			}
			h4{
				margin: rem-calc(60);
				margin-bottom: rem-calc(15);
				@media screen and (max-width: $small-breakpoint){
					margin:0;
					margin-top: rem-calc(30);
				}
				@media screen and (max-width: $medium-breakpoint){
					margin:0;
					margin-top: rem-calc(40);
				}

				// padding-top: rem-calc(50);
				color:white;
			}
		}

	}
	


}