---
title: Donate
---

<div class="photo-strip photo-strip--page-header" style="background-image: url(/images/photostrips/donate-hero.jpg)">
  <div class="photo-strip__text bumper">
    <h1>Donate</h1>
  </div>
</div>

	 <div class="sidebar-box__wrapper">
<div class="kind">
      <h2>In Kind Donations</h2>
      <p>We would love any of your in kind donations. Please email <a href="mailto:cu.sustainabledesign@gmail.com">cu.sustainabledesign@gmail.com</a> and we will work with you.</p>
 </div>
 <div class="donation">
 	<h2>Monetary Donations</h2>
    <p>Through Cornell's Donation website, you can directly contribute to Sustainable Education Ghana. Click the link below and 
    	<ol>
    	 <li>Under "Special Instructions," write SEG</li>
		<li>Select your preferred type of donation (one-time, recurring, scheduled payments)</li>
		<li>If you would like to make your donation in honor of someone, please fill out the next page.  If not, hit continue.</li>
		<li>Complete your personal and billing information and confirm your donation</li>
	</ol>
		<b>From all of us at SEG and VAM, thank you for your contribution towards making this school a reality!</b></p>
  <a href="https://securelb.imodules.com/s/1717/alumni/index.aspx?sid=1717&gid=2&pgid=403&cid=1031&dids=142&bledit=1" target="_blank" class="button mini">Donate</a>
</div>
 </div>