---
title: CUSD
---
<div class="index">
	<div class="photo-strip photo-strip--showcase" style="background-image: url(/images/photostrips/ps1.jpg); background-attachment: fixed;    background-position: center center; background-size: cover;">
		<div class="photo-strip__text">
			<h1>Cornell University Sustainable Design</h1>
			<h2>Positively Impacting Communities Through Sustainability</h2>
		</div>
	</div>

	<div class="sidebar-box">
		<div class="sidebar-box__wrapper">
			<div class="team-text">
				<h2>We Are a Team of <span id="roleLabel">Architects</span></h2>
				<p>Founded in 2009, Cornell University Sustainable Design (CUSD) is a student run, interdisciplinary project team with a bias towards impact. We bring together students from across all seven colleges to work alongside renowned faculty and knowledgeable professionals in our mission to create a network of proactively sustainable communities.</p>
				<a><%= link_to 'Learn more about the team', 'about.html' %></a>
			</div>
			<div class="team-graphic">
				<svg width="753px" height="722px" viewBox="0 0 753 722">
					<g id="teamGraphic" sketch:type="MSLayerGroup" fill="#81C36C">
						<g id="architects" transform="translate(0.000000, 1.000000)" sketch:type="MSShapeGroup" fill="#3F9B8F">
							<circle id="Oval" cx="35.4" cy="16.8" r="15.7"></circle>
							<path d="M16.9,184.3 C16.9,189.1 20.8,193.1 25.7,193.1 C30.6,193.1 34.5,189.2 34.5,184.3 L34.5,110.7 L38.4,110.7 L38.4,184.3 C38.4,189.1 42.3,193.1 47.2,193.1 C52.1,193.1 56,189.2 56,184.3 L56,57.3 L59.8,57.3 L59.8,104.1 C59.8,113.5 72.1,113.5 72.1,104.1 L72.1,56.3 C72.1,45.9 66,35.7 53.8,35.7 L18.7,35.7 C7.6,35.7 0.7,44.7 0.7,56 L0.7,104.1 C0.7,113.4 13,113.4 13,104.1 L13,57.3 L16.9,57.3 L16.9,184.3 L16.9,184.3 Z" id="Shape"></path>
							<circle id="Oval" cx="110.9" cy="16.6" r="15.7"></circle>
							<path d="M92.4,184.1 C92.4,188.9 96.3,192.9 101.2,192.9 C106.1,192.9 110,189 110,184.1 L110,110.5 L113.9,110.5 L113.9,184.1 C113.9,188.9 117.8,192.9 122.7,192.9 C127.6,192.9 131.5,189 131.5,184.1 L131.5,57.1 L135.3,57.1 L135.3,103.9 C135.3,113.3 147.6,113.3 147.6,103.9 L147.6,56.1 C147.6,45.7 141.5,35.5 129.3,35.5 L94.2,35.5 C83.1,35.5 76.2,44.5 76.2,55.8 L76.2,103.9 C76.2,113.2 88.5,113.2 88.5,103.9 L88.5,57.1 L92.4,57.1 L92.4,184.1 L92.4,184.1 Z" id="Shape"></path>
						</g>
						<g id="designers" transform="translate(0.000000, 270.000000)" sketch:type="MSShapeGroup">
							<circle id="Oval" cx="35.4" cy="16.8" r="15.7"></circle>
							<path d="M16.9,184.3 C16.9,189.1 20.8,193.1 25.7,193.1 C30.6,193.1 34.5,189.2 34.5,184.3 L34.5,110.7 L38.4,110.7 L38.4,184.3 C38.4,189.1 42.3,193.1 47.2,193.1 C52.1,193.1 56,189.2 56,184.3 L56,57.3 L59.8,57.3 L59.8,104.1 C59.8,113.5 72.1,113.5 72.1,104.1 L72.1,56.3 C72.1,45.9 66,35.7 53.8,35.7 L18.7,35.7 C7.6,35.7 0.7,44.7 0.7,56 L0.7,104.1 C0.7,113.4 13,113.4 13,104.1 L13,57.3 L16.9,57.3 L16.9,184.3 L16.9,184.3 Z" id="Shape"></path>
							<circle id="Oval" cx="110.9" cy="16.6" r="15.7"></circle>
							<path d="M101.2,192.9 C106.1,192.9 110,189 110,184.1 L110,110.5 L113.9,110.5 L113.9,184.1 C113.9,188.9 117.8,192.9 122.7,192.9 C127.6,192.9 131.5,189 131.5,184.1 L131.5,57.1 L135.3,57.1 L135.3,103.9 C135.3,113.3 147.6,113.3 147.6,103.9 L147.6,56.1 C147.6,45.7 141.5,35.5 129.3,35.5 L94.2,35.5 C83.1,35.5 76.2,44.5 76.2,55.8 L76.2,103.9 C76.2,113.2 88.5,113.2 88.5,103.9 L88.5,57.1 L92.4,57.1 L92.4,184.1 C92.4,188.9 96.3,192.9 101.2,192.9 Z" id="Shape"></path>
							<circle id="Oval" cx="186.4" cy="17.1" r="15.7"></circle>
							<path d="M167.9,184.6 C167.9,189.4 171.8,193.4 176.7,193.4 C181.6,193.4 185.5,189.5 185.5,184.6 L185.5,111 L189.4,111 L189.4,184.6 C189.4,189.4 193.3,193.4 198.2,193.4 C203.1,193.4 207,189.5 207,184.6 L207,57.6 L210.8,57.6 L210.8,104.4 C210.8,113.8 223.1,113.8 223.1,104.4 L223.1,56.6 C223.1,46.2 217,36 204.8,36 L169.7,36 C158.6,36 151.7,45 151.7,56.3 L151.7,104.4 C151.7,113.7 164,113.7 164,104.4 L164,57.6 L167.9,57.6 L167.9,184.6 L167.9,184.6 Z" id="Shape"></path>
							<circle id="Oval" cx="35.4" cy="274.8" r="15.7"></circle>
							<path d="M16.9,442.3 C16.9,447.1 20.8,451.1 25.7,451.1 C30.6,451.1 34.5,447.2 34.5,442.3 L34.5,368.7 L38.4,368.7 L38.4,442.3 C38.4,447.1 42.3,451.1 47.2,451.1 C52.1,451.1 56,447.2 56,442.3 L56,315.3 L59.8,315.3 L59.8,362.1 C59.8,371.5 72.1,371.5 72.1,362.1 L72.1,314.3 C72.1,303.9 66,293.7 53.8,293.7 L18.7,293.7 C7.6,293.7 0.7,302.7 0.7,314 L0.7,362.1 C0.7,371.4 13,371.4 13,362.1 L13,315.3 L16.9,315.3 L16.9,442.3 L16.9,442.3 Z" id="Shape"></path>
							<circle id="Oval" cx="110.9" cy="274.6" r="15.7"></circle>
							<path d="M92.4,442.1 C92.4,446.9 96.3,450.9 101.2,450.9 C106.1,450.9 110,447 110,442.1 L110,368.5 L113.9,368.5 L113.9,442.1 C113.9,446.9 117.8,450.9 122.7,450.9 C127.6,450.9 131.5,447 131.5,442.1 L131.5,315.1 L135.3,315.1 L135.3,361.9 C135.3,371.3 147.6,371.3 147.6,361.9 L147.6,314.1 C147.6,303.7 141.5,293.5 129.3,293.5 L94.2,293.5 C83.1,293.5 76.2,302.5 76.2,313.8 L76.2,361.9 C76.2,371.2 88.5,371.2 88.5,361.9 L88.5,315.1 L92.4,315.1 L92.4,442.1 L92.4,442.1 Z" id="Shape"></path>
						</g>
						<g id="engineers" transform="translate(151.000000, 0.000000)" sketch:type="MSShapeGroup">
							<circle id="Oval" cx="35.4" cy="18.1" r="15.7"></circle>
							<path d="M16.9,185.6 C16.9,190.4 20.8,194.4 25.7,194.4 C30.6,194.4 34.5,190.5 34.5,185.6 L34.5,112 L38.4,112 L38.4,185.6 C38.4,190.4 42.3,194.4 47.2,194.4 C52.1,194.4 56,190.5 56,185.6 L56,58.6 L59.8,58.6 L59.8,105.4 C59.8,114.8 72.1,114.8 72.1,105.4 L72.1,57.6 C72.1,47.2 66,37 53.8,37 L18.7,37 C7.6,37 0.7,46 0.7,57.3 L0.7,105.4 C0.7,114.7 13,114.7 13,105.4 L13,58.6 L16.9,58.6 L16.9,185.6 L16.9,185.6 Z" id="Shape"></path>
							<circle id="Oval" cx="111" cy="17.5" r="15.7"></circle>
							<path d="M92.5,185 C92.5,189.8 96.4,193.8 101.3,193.8 C106.2,193.8 110.1,189.9 110.1,185 L110.1,111.4 L114,111.4 L114,185 C114,189.8 117.9,193.8 122.8,193.8 C127.7,193.8 131.6,189.9 131.6,185 L131.6,58 L135.4,58 L135.4,104.8 C135.4,114.2 147.7,114.2 147.7,104.8 L147.7,57 C147.7,46.6 141.6,36.4 129.4,36.4 L94.3,36.4 C83.2,36.4 76.3,45.4 76.3,56.7 L76.3,104.8 C76.3,114.1 88.6,114.1 88.6,104.8 L88.6,58 L92.5,58 L92.5,185 L92.5,185 Z" id="Shape"></path>
							<circle id="Oval" cx="186.8" cy="17.4" r="15.7"></circle>
							<path d="M168.2,184.9 C168.2,189.7 172.1,193.7 177,193.7 C181.9,193.7 185.8,189.8 185.8,184.9 L185.8,111.3 L189.7,111.3 L189.7,184.9 C189.7,189.7 193.6,193.7 198.5,193.7 C203.4,193.7 207.3,189.8 207.3,184.9 L207.3,57.9 L211.1,57.9 L211.1,104.7 C211.1,114.1 223.4,114.1 223.4,104.7 L223.4,56.9 C223.4,46.5 217.3,36.3 205.1,36.3 L170,36.3 C158.9,36.3 152,45.3 152,56.6 L152,104.7 C152,114 164.3,114 164.3,104.7 L164.3,57.9 L168.2,57.9 L168.2,184.9 L168.2,184.9 Z" id="Shape"></path>
							<circle id="Oval" cx="111" cy="286.5" r="15.7"></circle>
							<path d="M92.5,454 C92.5,458.8 96.4,462.8 101.3,462.8 C106.2,462.8 110.1,458.9 110.1,454 L110.1,380.4 L114,380.4 L114,454 C114,458.8 117.9,462.8 122.8,462.8 C127.7,462.8 131.6,458.9 131.6,454 L131.6,327 L135.4,327 L135.4,373.8 C135.4,383.2 147.7,383.2 147.7,373.8 L147.7,326 C147.7,315.6 141.6,305.4 129.4,305.4 L94.3,305.4 C83.2,305.4 76.3,314.4 76.3,325.7 L76.3,373.8 C76.3,383.1 88.6,383.1 88.6,373.8 L88.6,327 L92.5,327 L92.5,454 L92.5,454 Z" id="Shape"></path>
							<circle id="Oval" cx="186.8" cy="286.4" r="15.7"></circle>
							<path d="M168.2,453.9 C168.2,458.7 172.1,462.7 177,462.7 C181.9,462.7 185.8,458.8 185.8,453.9 L185.8,380.3 L189.7,380.3 L189.7,453.9 C189.7,458.7 193.6,462.7 198.5,462.7 C203.4,462.7 207.3,458.8 207.3,453.9 L207.3,326.9 L211.1,326.9 L211.1,373.7 C211.1,383.1 223.4,383.1 223.4,373.7 L223.4,325.9 C223.4,315.5 217.3,305.3 205.1,305.3 L170,305.3 C158.9,305.3 152,314.3 152,325.6 L152,373.7 C152,383 164.3,383 164.3,373.7 L164.3,326.9 L168.2,326.9 L168.2,453.9 L168.2,453.9 Z" id="Shape"></path>
							<circle id="Oval" cx="35.4" cy="545.1" r="15.7"></circle>
							<path d="M16.9,712.6 C16.9,717.4 20.8,721.4 25.7,721.4 C30.6,721.4 34.5,717.5 34.5,712.6 L34.5,639 L38.4,639 L38.4,712.6 C38.4,717.4 42.3,721.4 47.2,721.4 C52.1,721.4 56,717.5 56,712.6 L56,585.6 L59.8,585.6 L59.8,632.4 C59.8,641.8 72.1,641.8 72.1,632.4 L72.1,584.6 C72.1,574.2 66,564 53.8,564 L18.7,564 C7.6,564 0.7,573 0.7,584.3 L0.7,632.4 C0.7,641.7 13,641.7 13,632.4 L13,585.6 L16.9,585.6 L16.9,712.6 L16.9,712.6 Z" id="Shape"></path>
							<circle id="Oval" cx="111" cy="544.5" r="15.7"></circle>
							<path d="M92.5,712 C92.5,716.8 96.4,720.8 101.3,720.8 C106.2,720.8 110.1,716.9 110.1,712 L110.1,638.4 L114,638.4 L114,712 C114,716.8 117.9,720.8 122.8,720.8 C127.7,720.8 131.6,716.9 131.6,712 L131.6,585 L135.4,585 L135.4,631.8 C135.4,641.2 147.7,641.2 147.7,631.8 L147.7,584 C147.7,573.6 141.6,563.4 129.4,563.4 L94.3,563.4 C83.2,563.4 76.3,572.4 76.3,583.7 L76.3,631.8 C76.3,641.1 88.6,641.1 88.6,631.8 L88.6,585 L92.5,585 L92.5,712 L92.5,712 Z" id="Shape"></path>
							<circle id="Oval" cx="186.8" cy="544.4" r="15.7"></circle>
							<path d="M168.2,711.9 C168.2,716.7 172.1,720.7 177,720.7 C181.9,720.7 185.8,716.8 185.8,711.9 L185.8,638.3 L189.7,638.3 L189.7,711.9 C189.7,716.7 193.6,720.7 198.5,720.7 C203.4,720.7 207.3,716.8 207.3,711.9 L207.3,584.9 L211.1,584.9 L211.1,631.7 C211.1,641.1 223.4,641.1 223.4,631.7 L223.4,583.9 C223.4,573.5 217.3,563.3 205.1,563.3 L170,563.3 C158.9,563.3 152,572.3 152,583.6 L152,631.7 C152,641 164.3,641 164.3,631.7 L164.3,584.9 L168.2,584.9 L168.2,711.9 L168.2,711.9 Z" id="Shape"></path>
							<circle id="Oval" cx="262.4" cy="16.8" r="15.7"></circle>
							<path d="M243.9,184.3 C243.9,189.1 247.8,193.1 252.7,193.1 C257.6,193.1 261.5,189.2 261.5,184.3 L261.5,110.7 L265.4,110.7 L265.4,184.3 C265.4,189.1 269.3,193.1 274.2,193.1 C279.1,193.1 283,189.2 283,184.3 L283,57.3 L286.8,57.3 L286.8,104.1 C286.8,113.5 299.1,113.5 299.1,104.1 L299.1,56.3 C299.1,45.9 293,35.7 280.8,35.7 L245.7,35.7 C234.6,35.7 227.7,44.7 227.7,56 L227.7,104.1 C227.7,113.4 240,113.4 240,104.1 L240,57.3 L243.9,57.3 L243.9,184.3 L243.9,184.3 Z" id="Shape"></path>
							<circle id="Oval" cx="340.9" cy="16.6" r="15.7"></circle>
							<path d="M319.4,184.1 C319.4,188.9 323.3,192.9 328.2,192.9 C333.1,192.9 337,189 337,184.1 L337,110.5 L340.9,110.5 L340.9,184.1 C340.9,188.9 344.8,192.9 349.7,192.9 C354.5,192.9 358.5,189 358.5,184.1 L358.5,57.1 L362.3,57.1 L362.3,103.9 C362.3,113.3 374.6,113.3 374.6,103.9 L374.6,56.1 C374.6,45.7 368.5,35.5 356.3,35.5 L321.2,35.5 C310.1,35.5 303.2,44.5 303.2,55.8 L303.2,103.9 C303.2,113.2 315.5,113.2 315.5,103.9 L315.5,57.1 L319.4,57.1 L319.4,184.1 L319.4,184.1 Z" id="Shape"></path>
							<circle id="Oval" cx="262.7" cy="286.6" r="15.7"></circle>
							<path d="M244.2,454 C244.2,458.8 248.1,462.8 253,462.8 C257.9,462.8 261.8,458.9 261.8,454 L261.8,380.4 L265.7,380.4 L265.7,454 C265.7,458.8 269.6,462.8 274.5,462.8 C279.4,462.8 283.3,458.9 283.3,454 L283.3,327 L287.1,327 L287.1,373.8 C287.1,383.2 299.4,383.2 299.4,373.8 L299.4,326 C299.4,315.6 293.3,305.4 281.1,305.4 L246,305.4 C234.9,305.4 228,314.4 228,325.7 L228,373.8 C228,383.1 240.3,383.1 240.3,373.8 L240.3,327 L244.2,327 L244.2,454 L244.2,454 Z" id="Shape"></path>
							<circle id="Oval" cx="338.2" cy="286.4" r="15.7"></circle>
							<path d="M319.7,453.9 C319.7,458.7 323.6,462.7 328.5,462.7 C333.4,462.7 337.3,458.8 337.3,453.9 L337.3,380.3 L341.2,380.3 L341.2,453.9 C341.2,458.7 345.1,462.7 350,462.7 C354.8,462.7 358.8,458.8 358.8,453.9 L358.8,326.9 L362.6,326.9 L362.6,373.7 C362.6,383.1 374.9,383.1 374.9,373.7 L374.9,325.9 C374.9,315.5 368.8,305.3 356.6,305.3 L321.5,305.3 C310.4,305.3 303.5,314.3 303.5,325.6 L303.5,373.7 C303.5,383 315.8,383 315.8,373.7 L315.8,326.9 L319.7,326.9 L319.7,453.9 L319.7,453.9 Z" id="Shape"></path>
							<circle id="Oval" cx="262.4" cy="544.8" r="15.7"></circle>
							<path d="M243.9,712.3 C243.9,717.1 247.8,721.1 252.7,721.1 C257.6,721.1 261.5,717.2 261.5,712.3 L261.5,638.7 L265.4,638.7 L265.4,712.3 C265.4,717.1 269.3,721.1 274.2,721.1 C279.1,721.1 283,717.2 283,712.3 L283,585.3 L286.8,585.3 L286.8,632.1 C286.8,641.5 299.1,641.5 299.1,632.1 L299.1,584.3 C299.1,573.9 293,563.7 280.8,563.7 L245.7,563.7 C234.6,563.7 227.7,572.7 227.7,584 L227.7,632.1 C227.7,641.4 240,641.4 240,632.1 L240,585.3 L243.9,585.3 L243.9,712.3 L243.9,712.3 Z" id="Shape"></path>
							<circle id="Oval" cx="337.9" cy="544.6" r="15.7"></circle>
							<path d="M319.4,712.1 C319.4,716.9 323.3,720.9 328.2,720.9 C333.1,720.9 337,717 337,712.1 L337,638.5 L340.9,638.5 L340.9,712.1 C340.9,716.9 344.8,720.9 349.7,720.9 C354.5,720.9 358.5,717 358.5,712.1 L358.5,585.1 L362.3,585.1 L362.3,631.9 C362.3,641.3 374.6,641.3 374.6,631.9 L374.6,584.1 C374.6,573.7 368.5,563.5 356.3,563.5 L321.2,563.5 C310.1,563.5 303.2,572.5 303.2,583.8 L303.2,631.9 C303.2,641.2 315.5,641.2 315.5,631.9 L315.5,585.1 L319.4,585.1 L319.4,712.1 L319.4,712.1 Z" id="Shape"></path>
						</g>
						<g id="strategists" transform="translate(529.000000, 0.000000)" sketch:type="MSShapeGroup">
							<circle id="Oval" cx="35.4" cy="17.1" r="15.7"></circle>
							<path d="M16.9,184.6 C16.9,189.4 20.8,193.4 25.7,193.4 C30.6,193.4 34.5,189.5 34.5,184.6 L34.5,111 L38.4,111 L38.4,184.6 C38.4,189.4 42.3,193.4 47.2,193.4 C52,193.4 56,189.5 56,184.6 L56,57.6 L59.8,57.6 L59.8,104.4 C59.8,113.8 72.1,113.8 72.1,104.4 L72.1,56.6 C72.1,46.2 66,36 53.8,36 L18.7,36 C7.6,36 0.7,45 0.7,56.3 L0.7,104.4 C0.7,113.7 13,113.7 13,104.4 L13,57.6 L16.9,57.6 L16.9,184.6 L16.9,184.6 Z" id="Shape"></path>
							<circle id="Oval" cx="111" cy="16.5" r="15.7"></circle>
							<path d="M92.5,184 C92.5,188.8 96.4,192.8 101.3,192.8 C106.2,192.8 110.1,188.9 110.1,184 L110.1,110.4 L114,110.4 L114,184 C114,188.8 117.9,192.8 122.8,192.8 C127.6,192.8 131.6,188.9 131.6,184 L131.6,57 L135.4,57 L135.4,103.8 C135.4,113.2 147.7,113.2 147.7,103.8 L147.7,56 C147.7,45.6 141.6,35.4 129.4,35.4 L94.3,35.4 C83.2,35.4 76.3,44.4 76.3,55.7 L76.3,103.8 C76.3,113.1 88.6,113.1 88.6,103.8 L88.6,57 L92.5,57 L92.5,184 L92.5,184 Z" id="Shape"></path>
							<circle id="Oval" cx="186.8" cy="16.4" r="15.7"></circle>
							<path d="M168.2,183.9 C168.2,188.7 172.1,192.7 177,192.7 C181.9,192.7 185.8,188.8 185.8,183.9 L185.8,110.3 L189.7,110.3 L189.7,183.9 C189.7,188.7 193.6,192.7 198.5,192.7 C203.3,192.7 207.3,188.8 207.3,183.9 L207.3,56.9 L211.1,56.9 L211.1,103.7 C211.1,113.1 223.4,113.1 223.4,103.7 L223.4,55.9 C223.4,45.5 217.3,35.3 205.1,35.3 L170,35.3 C158.9,35.3 152,44.3 152,55.6 L152,103.7 C152,113 164.3,113 164.3,103.7 L164.3,56.9 L168.2,56.9 L168.2,183.9 L168.2,183.9 Z" id="Shape"></path>
							<circle id="Oval" cx="35.7" cy="286.9" r="15.7"></circle>
							<path d="M17.2,454.4 C17.2,459.2 21.1,463.2 26,463.2 C30.9,463.2 34.8,459.3 34.8,454.4 L34.8,380.8 L38.7,380.8 L38.7,454.4 C38.7,459.2 42.6,463.2 47.5,463.2 C52.3,463.2 56.3,459.3 56.3,454.4 L56.3,327.4 L60.1,327.4 L60.1,374.2 C60.1,383.6 72.4,383.6 72.4,374.2 L72.4,326.4 C72.4,316 66.3,305.8 54.1,305.8 L19,305.8 C7.9,305.8 1,314.8 1,326.1 L1,374.2 C1,383.5 13.3,383.5 13.3,374.2 L13.3,327.4 L17.2,327.4 L17.2,454.4 L17.2,454.4 Z" id="Shape"></path>
							<circle id="Oval" cx="111.3" cy="286.3" r="15.7"></circle>
							<path d="M92.8,453.7 C92.8,458.5 96.7,462.5 101.6,462.5 C106.5,462.5 110.4,458.6 110.4,453.7 L110.4,380.1 L114.3,380.1 L114.3,453.7 C114.3,458.5 118.2,462.5 123.1,462.5 C127.9,462.5 131.9,458.6 131.9,453.7 L131.9,326.7 L135.7,326.7 L135.7,373.5 C135.7,382.9 148,382.9 148,373.5 L148,325.7 C148,315.3 141.9,305.1 129.7,305.1 L94.6,305.1 C83.5,305.1 76.6,314.1 76.6,325.4 L76.6,373.5 C76.6,382.8 88.9,382.8 88.9,373.5 L88.9,326.7 L92.8,326.7 L92.8,453.7 L92.8,453.7 Z" id="Shape"></path>
							<circle id="Oval" cx="187" cy="286.2" r="15.7"></circle>
							<path d="M168.5,453.7 C168.5,458.5 172.4,462.5 177.3,462.5 C182.2,462.5 186.1,458.6 186.1,453.7 L186.1,380.1 L190,380.1 L190,453.7 C190,458.5 193.9,462.5 198.8,462.5 C203.6,462.5 207.6,458.6 207.6,453.7 L207.6,326.7 L211.4,326.7 L211.4,373.5 C211.4,382.9 223.7,382.9 223.7,373.5 L223.7,325.7 C223.7,315.3 217.6,305.1 205.4,305.1 L170.3,305.1 C159.2,305.1 152.3,314.1 152.3,325.4 L152.3,373.5 C152.3,382.8 164.6,382.8 164.6,373.5 L164.6,326.7 L168.5,326.7 L168.5,453.7 L168.5,453.7 Z" id="Shape"></path>
							<circle id="Oval" cx="35.4" cy="545.1" r="15.7"></circle>
							<path d="M16.9,712.6 C16.9,717.4 20.8,721.4 25.7,721.4 C30.6,721.4 34.5,717.5 34.5,712.6 L34.5,639 L38.4,639 L38.4,712.6 C38.4,717.4 42.3,721.4 47.2,721.4 C52,721.4 56,717.5 56,712.6 L56,585.6 L59.8,585.6 L59.8,632.4 C59.8,641.8 72.1,641.8 72.1,632.4 L72.1,584.6 C72.1,574.2 66,564 53.8,564 L18.7,564 C7.6,564 0.7,573 0.7,584.3 L0.7,632.4 C0.7,641.7 13,641.7 13,632.4 L13,585.6 L16.9,585.6 L16.9,712.6 L16.9,712.6 Z" id="Shape"></path>
							<circle id="Oval" cx="111" cy="544.5" r="15.7"></circle>
							<path d="M92.5,712 C92.5,716.8 96.4,720.8 101.3,720.8 C106.2,720.8 110.1,716.9 110.1,712 L110.1,638.4 L114,638.4 L114,712 C114,716.8 117.9,720.8 122.8,720.8 C127.6,720.8 131.6,716.9 131.6,712 L131.6,585 L135.4,585 L135.4,631.8 C135.4,641.2 147.7,641.2 147.7,631.8 L147.7,584 C147.7,573.6 141.6,563.4 129.4,563.4 L94.3,563.4 C83.2,563.4 76.3,572.4 76.3,583.7 L76.3,631.8 C76.3,641.1 88.6,641.1 88.6,631.8 L88.6,585 L92.5,585 L92.5,712 L92.5,712 Z" id="Shape"></path>
							<circle id="Oval" cx="186.8" cy="544.4" r="15.7"></circle>
							<path d="M168.2,711.9 C168.2,716.7 172.1,720.7 177,720.7 C181.9,720.7 185.8,716.8 185.8,711.9 L185.8,638.3 L189.7,638.3 L189.7,711.9 C189.7,716.7 193.6,720.7 198.5,720.7 C203.3,720.7 207.3,716.8 207.3,711.9 L207.3,584.9 L211.1,584.9 L211.1,631.7 C211.1,641.1 223.4,641.1 223.4,631.7 L223.4,583.9 C223.4,573.5 217.3,563.3 205.1,563.3 L170,563.3 C158.9,563.3 152,572.3 152,583.6 L152,631.7 C152,641 164.3,641 164.3,631.7 L164.3,584.9 L168.2,584.9 L168.2,711.9 L168.2,711.9 Z" id="Shape"></path>
						</g>
					</g>
				</svg>
			</div>
		</div>
	</div>

	<div class="mobile-text">
	<p>Founded in 2009, Cornell University Sustainable Design (CUSD) is a student run, interdisciplinary project team with a bias towards impact. We bring together students from across all seven colleges to work alongside renowned faculty and knowledgeable professionals in our mission to create a network of proactively sustainable communities.</p>
	<a><%= link_to 'Learn more about the team', 'about.html' %></a>
</div>

<div class="timeline-row">
	<h2 class="timeline-label">We Build Things That Make an Impact</h2>
	<img src="/images/project-photos/ord-hero.jpg" id="responsive-image">
	<%= link_to 'Current&nbsp;Projects', 'projects.html', class: 'button', id: 'responsive-link' %>
	<div class="timeline">
		<div class="timeline__point">
			<span class="year">2009</span>
			<ul class="projects">
				<li>Solar Decathlon</li>
			</ul>
		</div>
		<div class="timeline__point">
			<span class="year">2010</span>
			<ul class="projects">
				<li>Schoolhouse South Africa</li>
				<li>Sustainable Research Facility</li>
			</ul>
		</div>
		<div class="timeline__point">
			<span class="year">2011</span>
			<ul class="projects">
				<li>Interdisciplinary Sustainability Student Summit</li>
			</ul>
		</div>
		<div class="timeline__point">
			<span class="year">2012</span>
			<ul class="projects">
				<li>Sustainable Neighborhoods Nicaragua</li>
			</ul>
		</div>
		<div class="timeline__point">
			<span class="year">2013</span>
			<ul class="projects">
				<li>Farm Pond Circle</li>
				<li>Beebe Lake Redevelopment</li>
			</ul>
		</div>
		<div class="timeline__point">
			<span class="year">2014</span>
			<ul class="projects">
				<li>Inclusive School Hati</li>
			</ul>
		</div>
		<div class="timeline__point">
			<span class="year">2015</span>
			<ul class="projects">
				<li>Overlook Ridge Development</li>
			</ul>
		</div>
		<div class="timeline__point">
			<span class="year">Now</span>
			<ul class="projects">
				<li><%= link_to 'Current&nbsp;Projects', 'projects.html', class: 'button' %></li>
			</ul>
		</div>
	</div>
</div>	

<div class="photo-strip" style="background-image: url(/images/photostrips/ps2.jpg)"></div>
</div>