---
title: SEG
---

<div class="photo-strip photo-strip--page-header" style="background-image: url(/images/seg/seg-hero.jpg)">
  <img class="seg_logo" src="/images/seg/seg-text.svg">
</div>

<div class="photo-strip photo-strip--seg " style="background-image: url(/images/seg/seg-about.jpg)">
  <div class="photo-strip__text bumper large-offset-1 columns">
      <h1>About</h1>
  </div>
</div>

<div class="about">

      <h2> Purpose </h2>
      <p> Enable girls from communities with limited resources to attain an education that fosters personal, intellectual, and vocational growth. </p>

      <h2> Mission </h2>
      <p> Inspire a love of learning and ecological stewardship in students that will allow them to incorporate economic, social, and ecological sustainability into their lives. </p>


      <h2> Vision </h2>
      <p>Empower the next generation of girls to become leaders in their communities, creating a ripple effect of elevating women’s impact in society. </p>

      <h2> Impact </h2>
      <p>The work done by the Sustainable Education Ghana team aims to be an emblem of human-centered design, educational opportunity, and sustainable practices in Ghana. Our project to design and build schoolhouse in Sogakope, Ghana came from a partnership with Voices of African Mothers. The building will be part of VAM Girls Academy; a project being developed by Voices of African Mothers to address the need for improved education and vocational training in Sogakope and surrounding areas. Combining training in ecologically friendly farming, conflict resolution, and health clinics will prepare the students we serve to become champions of equality and sustainability. </p>

</div>
