---
title: Stories
---

<div class="video">
  <iframe src="https://player.vimeo.com/video/126048968?title=0&byline=0&portrait=0" width="1280" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="video-small">
  <iframe src="https://player.vimeo.com/video/126048968?title=0&byline=0&portrait=0" width="321" height="250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="sidebar-box">
  <div class="sidebar-box__wrapper">

    <div class="quote">
      <h3>"CUSD is a platform for students to get experiences they cannot get from classrooms"
        <br>
        <br>
        – Jeremy Blum </h3>   
      </div>


      <div class="latestStory">
        <h2> Latest Member's Story</h2>
        <h5> Stay tuned for Founding History, a story about one of CUSD's original founders, Jeremy Blum, and his amazing insights on the journey that made the organization what it is today.  </h5>
      </div>

    </div>
  </div>

  <div class="photo-strip" style="background-image: url(/images/photostrips/ps4.jpg)"></div>

  <div class="membersPOV">
    <h2>CUSD from Our Member's Point of View</h2>
  </div>
  
  <div class="instagram">
    <div class="membersGrid"> 
      <ul id="instagrid" class="instaGrid text-left"> 
      </ul>
    </div>
  </div>
  <!--  <div class="photo-strip" style="background-image: url(/images/photostrips/ps4.jpg)"></div>-->

  



